body {
	font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;
	border: 1px solid grey;
	border-radius:15px ;

}
.header {
	display:flex;	
	border-top-left-radius:15px ; 
	border-top-right-radius:15px ; 
	justify-content: center;
	background-color: #bdd7ee;
}
.greating {
	padding-left: 1rem;
}
.embelishement {
	padding: 1rem;	
}
.logo{
	padding: 0px;
	width:80px;
	height:80px;
}
.image{
	padding: 0px;
	margin-top: 1rem;
	width: 150px;
	height:150px;
	border-radius: 50%;
	border: 1px solid grey;
}
.headertitle {
	font-style: bold;
  text-align: left;
  font-size: 0.75rem;
}
.presentation {
	font-style: italic;
  text-align: left;
  font-size: 0.50rem;
}
.aside {
	padding: 1rem;	
}
.asidep {
	margin-top:7rem;
	font-style: italic;
  text-align: left;
  font-size: 0.50rem;
}
.container1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

}

.img2 {
	padding: 0px;
	width: 180px;
	height:180px;
}
.img1 {
	padding: 0px;
	margin-top: 1rem;
	width: 120px;
	height:120px;
}
.maintitle {
	font-style: bold;
  text-align: left;
  font-size: 0.75rem;
}
.mainp {
	font-style: bold;
  text-align: left;
  font-size: 0.50rem;
}
.speech {
	padding: 0.5rem;
}
.deco {
	padding: 0.5rem;
}
.container2{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem;
	flex-wrap: nowrap;

}
.container3{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.service{
	padding:0.3rem;
}
.clients{
	padding:0.3rem;
}
.suppliers{
	padding:0.3rem;
}
.icons {
	padding: 0px;
	width: 20px;
	height:20px;
}
.servicetitle {
	font-style: bold;
  text-align: left;
  font-size: 0.75rem;
}
.servicep {
	font-style: bold;
  text-align: left;
  font-size: 0.50rem;
}
.clientstitle {
	font-style: bold;
  text-align: left;
  font-size: 0.75rem;
}
.clientsp {
	font-style: bold;
  text-align: left;
  font-size: 0.50rem;
}
.supplierstitle {
	font-style: bold;
  text-align: left;
  font-size: 0.75rem;
}
.suppliersp {
	font-style: bold;
  text-align: left;
  font-size: 0.50rem;
}

.footer {
	padding: 1rem;
	background-color: #bdd7ee;
	border-bottom-left-radius:15px ; 
	border-bottom-right-radius:15px ; 
}
.footertitle {
	font-style: bold;
  text-align: center;
  font-size: 0.75rem;
}
.subscription {
	font-style: italic;
  text-align: center;
  font-size: 0.50rem;
}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 15px;
		margin-left: 9rem;
    font-size: 0.50rem;
    text-align: center;
    color: black;
    border: 1px solid grey;
    
}

.styled:hover {
    background-color:black;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}