body {
 	font-family: 'Roboto', sans-serif;
 	background-color: whitesmoke;
	margin:3rem;
	border: 2px solid grey;
	border-radius:15px ;
}
.header {
	display:flex;
;
}

.greating {
	display: flex;
	flex-wrap: wrap;
	background-color:#bdd7ee;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
}
.logo {
 	width: 100px;
	height: 100px;;	
}
.living {
	padding: 0px;
	width: 150px;
	height:150px;
	border-radius:50%;
	margin-top:6rem;

}
.aside {
	margin-top:8rem ;
	background-color: #bdd7ee;
	
}